body{
	background: url("../images/train.gif");
	background-size: 500px;
	font-family: 'Patrick Hand', cursive;
	font-size: 20px;

}

.jumbotron{
	background: transparent;
	background-image: url("../images/header.png");
	background-size:500px;
	padding:50px;
	

}

.jumbotron h1 {
	color: #2fa4e7;
	font-family: 'Pacifico', cursive;
	padding:10px;
	background-color:transparent;
	font-size: 120px;
	text-shadow: 4px 4px 2px rgba(255, 255, 255, 1);

}

h3{
	font-family: 'Pacifico', cursive;
	color: #2fa4e7;
	text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
	font-size:40px;




}

h5{
	color:#2fa4e7;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
	background: red;
	text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
	border: 5px solid white;
	padding:10px;

}


.panel-group{
	color:red;
	border:5px solid red;
}

.table-responsive {
   color:red;
}


